NEXT_PUBLIC_CLIENT_ID = 

NEXT_PUBLIC_RESPONSE_TYPE = 

NEXT_PUBLIC_CLIENT_SCOPE = 

NEXT_PUBLIC_STS_AUTHORITY =

NEXT_PUBLIC_API_ENDPOINT = 

NEXT_PUBLIC_MSTS_CLIENT_ID = 

NEXT_PUBLIC_MSTS_CLIENT_SECRET =

NEXT_PUBLIC_MSTS_GRANT_TYPE = 

NEXT_PUBLIC_MSTS_GRANT_PASSWORD = 

NEXT_PUBLIC_OMNI_URL = 
