next.config.js
.env
.env.example
azure-pipelines.yml
Dockerfile
next-env.d.ts
package.json
README.md
package-lock.json
.next/*
.eslintrc.json
.prettierrc
.vscode/settings.json
tsconfig.json
node_modules/*
public/*
.vscode
docs/*