:root {
	--ticketCompleteProgress: "0";
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif !important;
	user-select: none;
}

html,
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
