/* App  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
body {
	overflow: hidden;
	font-family: "Inter", sans-serif !important;
	padding-right: 0 !important;
}
